{% extends 'AppBundle::layout.html.twig' %}

{% block title post.title %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ post.perex|raw }}
  {{ post.content|raw }}

  <p>
    <a href="{{ path('post.list') }}">&laquo; Späť na zoznam</a>
  </p>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="/assets/css/prettify.min.css">
  <link rel="stylesheet" href="/assets/css/sunburst.css">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/assets/js/prettify.min.js"></script>
  <script>
    window.addEventListener("load", prettyPrint, false); //W3C
  </script>
{% endblock %}