<div class="article-list">
  {% for post in posts %}
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 itemprop="name headline">
        <a href="{{ path('post.view', {'slug': post.slug}) }}">{{ post.title }}</a>
      </h2>
      <p>
        <time pubdate datetime="{{ post.publishedAt|date(constant('DATE_W3C')) }}" itemprop="datePublished" title="Zverejnené {{ post.publishedAt|date('d.m.Y H:i') }}">{{ post.publishedAt|localizeddate('long', 'none') }}</time>,
        {% if post.modifiedAt %}
        <time pubdate datetime="{{ post.modifiedAt|date(constant('DATE_W3C')) }}" itemprop="dateModified" title="Naposledy upravené {{ post.modifiedAt|date('d.m.Y H:i') }}">{{ post.modifiedAt|localizeddate('long', 'none') }}</time>,
        {% endif %}
        <b>Štítky</b>:
        {% for tag in post.tags %}
          <a href="{{ path('post.tag', {'slug': tag.slug}) }}">{{ tag }}</a>{% if false == loop.last %}, {% endif %}
        {% endfor %}
      </p>
      <meta itemprop="description" content="{{ post.description }}">
    </header>
    <div class="content">
      {{ post.perex|raw }}
    </div>
    <p>
      <a itemprop="url" href="{{ path('post.view', {'slug': post.slug}) }}">Celý článok &rarr;</a>
    </p>
    </article>
    {% if loop.last is sameas(false) %}<hr>{% endif %}
    {% else %}
      <p>Žiaden príspevok.</p>
  {% endfor %}
</div>
